body{
    font-family: Montserrat;
    background-image: url("https://ocdn.eu/pulscms-transforms/1/vb4k9kuTURBXy81OTQ2NTdkZi1jOTUzLTQ5OGUtOGE5Yi03M2Q3MzljOTMzNWMuanBlZ5GVAs0DBwDDw4GhMAE");
    background-size: cover;
    background-position: 300px;
    background-repeat: no-repeat;
    background-color: rgb(56, 55, 55);
}

#box{
    border: solid black 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    align-items: center;
    padding: 0 70px;
    margin-top: 50px;
    text-align: center;
    background-color: white;
    position: fixed;
    left: 50px;
}

#btn{
    border: solid darkblue 2px;
    padding: 10px 20px;
    background-color: white;
    color:blue;
    transition: 400ms;
    position: fixed;
    top: 200px;
}

#btn:hover{
    background-color: blue;
    color: white;
    transition: 400ms;
}

#title{
    position: fixed;
    top: 70px;
    font-size: x-large;
}

#saying{
    position: relative;
    top: 70px;
}